<header>
  <h1>Little Ranger</h1>
</header>

<div class="hero">
  <h2>Explore. Collect. Discover.
</div>

<section class="intro">
  <a ui-sref="ranger">Ranger</a>
  <h2>Lorem Ipsum is simply dummy text of the printing and typesetting industry as opposed to using 'Content here. </h2>
  <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here</p>
</section>
